.chatbotInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5ebed;
  border-radius: 30px;
  padding: 15px 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.iconContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon, .arrow {
  width: 34px;
  height: 34px;
  color: #7a003b;
}

.input {
  border: none;
  background-color: transparent;
  flex-grow: 1;
  font-size: 20px;
  color: #7a003b;
  outline: none;
  padding: 5px 5px 5px 35px;
}

.input::placeholder {
  color: #7a003b;
  opacity: 0.6;
}

.chatbotInput:hover {
  background-color: #ead4d8;
}

.sendButton {
  background-color: #b93b62;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow {
  font-size: 24px;
}

/* Image Preview */
.imagePreviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagePreview {
  max-width: 150px;
  max-height: 150px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.captionInput {
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: #7a003b;
  outline: none;
  width: 100%;
  padding: 5px;
  text-align: center;
}

.captionInput::placeholder {
  color: #7a003b;
  opacity: 0.6;
}

/* Media Queries */
@media (max-width: 768px) {
  .imagePreview {
    max-width: 120px;
    max-height: 120px;
  }

  .captionInput {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .imagePreview {
    max-width: 100px;
    max-height: 100px;
  }

  .captionInput {
    font-size: 12px;
  }
}
